# Data types in Python

**We have two types: Singles values o multiple values**

For single values we have:
* Numeric
* Text
* Boolean
* None

For Multiple values we have:
* Sequence  represents sequences of values usually text or numeric 
* Mapping   maps key to values for efficient information retrieval
* Set       represents a collection of unique, non-duplicates values

In [3]:
type(1) # the type function will tell us what kind of data is

int

In [5]:
type(3.14)

float

In [6]:
data_type = type([2.34,'skis',None])
data_type

list

In [8]:
int('123') # Converting str into a integer

123

In [9]:
int(3.15) # Converting float into a integer

3

In [10]:
tuple([1,2,3])

(1, 2, 3)

**Iterables** are data types that can be iterated, or looped through, allowing you to move from one value to the next. These data types are considered iterable: Sequence, Mapping, Set and Text

A data type is **mutable** if it can be modified after its creation.

* Mutable data type are flexible- can add, remove, change values in the object. (List, Dictionaries, Set)
* Immutable data type areTo modify a value must delete and recreate the entire object. (Int, Float, str, Boolean, Tuple and Frozenset)

*Mutable data types can be modified after their creation, while immutable data types cannot be changed without being overwritten*