# Numeric Data 
In this section we’ll cover numeric data types, including how to convert between them, perform arithmetic operations, and apply numeric functions


## Numeric Data Types 
There are 3 types of numeric data types in Python:

1. Integers (int) – whole numbers without decimal points
• Examples: 3, 42, -14
2. Floats (float) – real numbers with decimal points
• Examples: 3.14, -1.20134, 0.088
3. Complex (complex) – numbers with real and imaginary portions
• Examples: 3 + 2j, 2.4 - 1j, -2j

## Numeric Type Conversion

### Floats into integers:

In [5]:
number = 1.999
type(number)

float

In [6]:
fixed_number = int(number)
fixed_number, type(fixed_number)

(1, int)

In [3]:
number = 1
fixed_number = float(number)
fixed_number, type(fixed_number)

(1.0, float)

### Strings into floats (or integers):

In [7]:
text = '1.2' # As long as they only contain numeric characters:
type(text)

str

In [8]:
fixed_number = int(number)
fixed_number, type(fixed_number)

(1, int)

## Arithmetic Operator 

* Addition + 
* Substraction - 
* Multiplication * 
* Division / 
* Floor Division //
* Modulo %
* Exponentiation ** 

Python uses the standard **PEMDAS** order of operations to perform calculations
1. Parentheses
2. Exponentiation
3. Multiplication & Division (including Floor Division & Modulo), from left to right
4. Addition & Subtraction, from left to right

In [9]:
my_string = '3579'
my_float = 3.579
my_int = 3

In [10]:
int(my_string)

3579

In [11]:
int(my_float)

3

In [12]:
float(my_string)

3579.0

In [14]:
my_int - my_float # Change the operator for the results

-0.5790000000000002

### ASSIGNMENT

Hi there!

Can you help calculate the following numbers?
* Gross profit from selling a snowboard
* Gross margin from selling a snowboard
* Price needed for a gross margin of 70%
* Sales tax on a snowboard sale
* Amount of money if the gross profit from selling 5 snowboards is invested for one year 

There are more details in the file attached.

In [15]:
snowboard_price = 499.99
snowboard_cost = 199.99

In [21]:
# Gross profit form sellig a snowboard 
gross_profit = snowboard_price-snowboard_cost
gross_profit

300.0

In [22]:
# Gross margin from selling a snowboard
gross_margin = gross_profit/snowboard_price
gross_margin

0.6000120002400048

In [24]:
# Price needed for a gross margin of 70%
desired_margin = .7
price_needed = snowboard_cost / (1-desired_margin)
price_needed

666.6333333333332

In [25]:
# Sales tax on a snowboard sale (tax rate is 8%)
tax_rate = .08 
sales_tax = snowboard_price * tax_rate
sales_tax

39.9992

In [26]:
# Amount of money if the gross profit from selling 5 snowboards is invested for one year 
interest_rate = .05
amount_invested = gross_profit * 5

amount = amount_invested + (amount_invested * interest_rate)
amount

1575.0

## NUMERIC FUNCTIONS

Single number:
* Rounds -  Round a number to a specified number of digits
* abs - Returns the absolute value of a number

Multiple numbers:
* Sum - Sums all numbers in an iterable
* Min -  Returns the smallest value in an iterable
* Max - Returns the largest value in an iterable

In [27]:
# The round() function rounds a number to a specified number of digits
round(3.141592, 2)  # This rounds the number to 2 decimal places

3.14

In [28]:
round(3.51) # It rounds down decimals < 0.5 and rounds up decimals >= 0.5

4

In [29]:
#The abs() function returns the absolute value of a number
abs(-3) # This will always return a positive number

3

The sum(), min(), and min() functions perform sum, minimum, and maximum calculations on iterable data types that only contain numeric values

In [30]:
sum((3,4,5))

12

In [31]:
min([3,4,5])

3

In [32]:
max({3,4,5})

5

### ASSIGNMENT

Hi there!

Could you quickly run these numbers for me?
* What is the highest priced item we sell?
* What is the lowest priced item we sell?
* How much would it cost for a customer to purchase two of every item, rounded to the nearest dollar?

Thanks in advance! (the price list is attached)

In [34]:
price_list = [129.99, 99.99, 119.19, 99.99, 89.99, 79.99, 49.99]

In [37]:
# What is the highest and lowest priced item we sell?
highest_priced = max(price_list)
lowest_priced = min(price_list)

print(highest_priced, lowest_priced)

129.99 49.99

In [38]:
# How much would it cost for a customer to purchase two of every item, rounded to the nearest dollar?
round(2* sum(price_list))

1338